body {
  background-color: #15202B;
  
  
}

 /* .navbar-expand-lg .navbar-nav .nav-link {
  color: white; 
  padding: 5px;
  border-radius: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  background-color: white;
  color: red;
} */

.navbar-expand-lg .navbar-nav {
  gap: 10px;
} 

/* form inputs and labels styles */
.form-control:focus,
.form-control,
.form-floating>.form-control,
.form-floating>.form-control-plaintext {
  background-color: #22303c;
    color: white;
}
.form-control:disabled{
  color: black;
  background-color:rgba(220, 212, 202,0.6);
}